/* * Footer */
/* footer{
	padding: 1% 1% 1%;
} */

.footer-container{
	background-color:#182131;
	font-family: 'Open Sans', serif;
	color: #fff;
	padding: 4.5% 1% 1%;
	display: inline-block;
}
.left{
	float: left;
	width: 70%;
}
.right {
	margin-left:80%;
}
.footer-container h3 {
	font-size: 1.5vw;
	font-weight: 700;
	margin-top: 0;
	position: relative;
	padding-bottom: 1vh;
}
.footer-container h3:after {
	background-color: #FFBB00;
	content: "";
	height: 0.5vh;
	width: 5vw;
	left: 0;
	bottom: 0;
	position: absolute;
}
.footer-container h3 span {
	color: #FFBB00;
}

.footer-container p {
	font-size: 1.2vw;
	line-height: 3vh;
	margin-top: 2%;
	margin-bottom: 0;
	text-align: justify;
}.footer-container p span {
	color: #FFBB00;
}
.media{
	padding-left: 0;
	list-style: none;
	padding: 3vh 0 5vh;
}
.media span{
	margin-right: 0.5vw;
}
a:hover{
	color: #FFBB00;
}

.fa-stack{
	font-size: 1.8vw;
   }

.fa-circle-thin{
	font-size: 3vw;
}


